<div class="admin">
<h1>Editing element</h1>

<% form_for @element, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  
  <p>
  	<%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
	<%= add_form "text" %>
	<%= add_form "video" %>
	<%= add_form "file" %>
	<%= add_form "gallery" %>
  </p>
  <div id="dynamic_form"></div>
  <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, :size => 80 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @element %> |
<%= link_to 'Back', elements_path %>
</div>