<h1>Editing element</h1>

<% form_for @element, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  
  <p>
  	<%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
	<%= render :partial => "text_form" if @element.content_type == 'text' %>
	<%= render :partial => "video_form" if @element.content_type == 'video' %>
	<%= render :partial => "file_form" if @element.content_type == 'file' %>
	<%= render :partial => "gallery_form", :locals => {:sel => @element.content.to_i} if @element.content_type == 'gallery' %>
  </p>
  <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, :size => 80 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @element %> |
<%= link_to 'Back', elements_path %>