<div class="admin">
  <h1>Edit backgrounds<h1>
  <% form_tag('pages/background_update', :multipart => true ) do %>
  <h2>Standard Hintergrund</h2>
  <p>
    <% fields_for :default do |default_form| %>
        <%= default_form.check_box 'delete' %>Delete Background
        <br /><%= default_form.file_field :data %>
        <%= default_form.hidden_field 'parent_id', :value => "0" %>
        <%= default_form.hidden_field 'parent_type', :value => "default" %>
    <% end %>
  </p>
  <h2>Netzwerk Hintergrund</h2>
  <p>
    <% fields_for :members do |members_form| %>
        <%= members_form.check_box 'delete' %>Delete Background
        <br /><%= members_form.file_field :data %>
        <%= members_form.hidden_field 'parent_id', :value => "0" %>
        <%= members_form.hidden_field 'parent_type', :value => "members" %>
    <% end %>
  </p>
  <h2>Projektübersicht Hintergrund</h2>
  <p>
    <% fields_for :projects do |projects_form| %>
        <%= projects_form.check_box 'delete' %>Delete Background
        <br /><%= projects_form.file_field :data %>
        <%= projects_form.hidden_field 'parent_id', :value => "0" %>
        <%= projects_form.hidden_field 'parent_type', :value => "projects" %>        
    <% end %>
  </p>
  <h2>Profil Hintergrund</h2>
  <p>
    <% fields_for :profile do |profile_form| %>
        <%= profile_form.check_box 'delete' %>Delete Background
        <br /><%= profile_form.file_field :data %>
        <%= profile_form.hidden_field 'parent_id', :value => "0" %>
        <%= profile_form.hidden_field 'parent_type', :value => "profile" %>        
    <% end %>
  </p>
  <h2>Spenden Hintergrund</h2>
  <p>
    <% fields_for :donation do |donation_form| %>
        <%= donation_form.check_box 'delete' %>Delete Background
        <br /><%= donation_form.file_field :data %>
        <%= donation_form.hidden_field 'parent_id', :value => "0" %>
        <%= donation_form.hidden_field 'parent_type', :value => "donation" %> 
    <% end %>
  </p>
  <%= submit_tag 'Create' %>  
  <% end %>  
</div>
