<% content_for :html_title, @project.title.upcase %>

<% if signed_in? %>
  <div class="admin_panel">
    <%= link_to 'Edit', edit_element_path(@element), :class => 'admin_control' %>
    <%= link_to 'Destroy', @element, :confirm => 'Are you sure?', :method => :delete, :class => 'admin_control' %>
  </div>
<% end %>

<div class="c">
  <div class="c_element_show color2">
    <h1><%=h @element.title.upcase %></h1>
    <%= render_element_show(@element) %>
  </div>
  <div style="float:right;">
    <div class="c_element color2">
          <p><br/>
        <b>Tags:</b><br/>
        <%= @element.tag_list %>
      </p>
    </div> 
    <% @project.elements.each_index do |i| %>
      <% if i >= 2 and i.even? and @project.elements[i].id != @element.id %>
        <div class="c_element color2">
          <%= render_element(@project,@project.elements[i]) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="c">
  <div class="c_element color2">
    <p><%= link_to 'Zurück', @project %></p>
  </div>
  <div class="c_element color2">
    <%= add_fcbk(request.url,'dark') %>
    <%= add_tweet %>
    <%= add_buzz %> 
  </div>
  <% @project.elements.each_index do |i| %>
    <% if i < 2 and @project.elements[i].id != @element.id %>
      <div class="c_element color2">
        <%= render_element(@project,@project.elements[i]) %>
      </div>
    <% end %>
  <% end %>
  <% @project.elements.each_index do |i| %>
    <% if i >= 2 and i.odd? and @project.elements[i].id != @element.id %>
      <div class="c_element color2">
        <%= render_element(@project,@project.elements[i]) %>
      </div>
    <% end %>
  <% end %>
</div>
