<% if signed_in? %>
  <div class="admin">
    <%= link_to 'New project', new_project_path %>
  </div>
<% end %>
<div class="yellow">
<table>
  <tr>
    <th>Date from</th>
    <th>Date to</th>
    <th>Title</th>
    <th>Info</th>
    <th>Tags</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%=h project.date_from %></td>
    <td><%=h project.date_to %></td>
    <td><%=h project.title %></td>
    <td><%=h project.info %></td>
    <td>
      <% project.tag_list.each do |t| %>
        <%=h t + " "%>
      <% end%>
    </td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>