<p>
  <b>Date from:</b>
  <%=h @project.date_from %>
</p>

<p>
  <b>Date to:</b>
  <%=h @project.date_to %>
</p>

<p>
  <b>Title:</b>
  <%=h @project.title %>
</p>

<p>
  <b>Info:</b>
  <%=h @project.info %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>