<% if signed_in? %>
  <div class="admin_panel">
    <%= link_to 'Edit', edit_project_path(@project), :class => 'admin_control' %>
    <%= link_to 'Destroy', @project, :confirm => 'Are you sure?', :method => :delete, :class => 'admin_control' %>
  </div>
<% end %>

<div class="c">
  <%= image_tag Picture.find(@project.picture_id).data.url(:medium) %>
</div>
<div class="c">
  <div class="c_element fixed_height color2">
    <%= add_tweetmeme %>
    <p class="date">
        <%=h @project.date_from.strftime("%d.%m.%Y") unless @project.date_from.nil? %>
        <%= '-' unless @project.date_to.nil? %> 
        <%=h @project.date_to.strftime("%d.%m.%Y") unless @project.date_to.nil? %>
    </p>
    <h1><%=h @project.title.upcase %></h1>
    <p><%= _ @project.info %></p>
  </div>  
  <div class="c_element color2">
        <p><br/>
      <b>Tags:</b><br/>
      <%= @project.tag_list %>
    </p>
  </div>
  <% @project.elements.each_index do |i| %>
    <% if i >= 3 and i.odd? %>
      <div class="c_element color2">
        <%= render_element(@project.elements[i]) %>
      </div>
    <% end %>
  <% end %> 
</div>
<div class="c">
  <div class="c_element color2">
    <p><%= link_to 'Zurück', projects_path %></p>
  </div>
  <div class="c_element color2">
      <%= add_fcbk(request.url,'dark') %>
  </div>
  <% @project.elements.each_index do |i| %>
    <% if i < 3 %>
      <div class="c_element color2">
        <%= render_element(@project.elements[i]) %>
      </div>
    <% end %>
  <% end %>
  <% @project.elements.each_index do |i| %>
    <% if i >= 3 and i.even? %>
      <div class="c_element color2">
        <%= render_element(@project.elements[i]) %>
      </div>
    <% end %>
  <% end %>
</div>
