<h1>New picture</h1>

<% form_for @picture, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td>
        <p>
          Choose a gallery<br />
          <%= f.select :gallery_id, Gallery.all.collect {|p| [ p.title, p.id ] }, :include_blank => true %>
        </p>
      </td>
      <td>
        <strong>or</strong>
      </td>
      <td>
        <p>
          Create a new one<br />
          <%= f.text_field :new_gallery %>
        </p>
      </td>
    </tr>
  </table>
  <p>
    <%= f.label :data %><br />
    <%= f.file_field :data %>
  </p>
  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :licence %><br />
    <%= f.text_field :licence %>
  </p>
  <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list, :size => 80 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pictures_path %>