<p>
  <b>Description:</b>
  <%= image_tag @picture.pic_file.url %>
  <%= image_tag @picture.pic_file.url(:medium) %>
  <%= image_tag @picture.pic_file.url(:thumb) %>
  
  <%=h @picture.description %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>