<div class="yellow">
<p>
  <b>Description:</b>
  <%= image_tag @picture.data.url %>
  <%= image_tag @picture.data.url(:medium) %>
  <%= image_tag @picture.data.url(:thumb) %>
  
  <%=h @picture.description %>
</p>
<p>
  <b>Tags:</b>
  <% @picture.tag_list.each do |t| %>
    <%=h t + " "%>
  <% end%>
</p>
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
</div>
