<div class="element">
  <% @element = element %>
  <%= error_messages_for :element %>
  <% fields_for_element(element) do |element_form| %>
  <%= element_form.hidden_field :parent_type, :value => 'post' if element.new_record? %>
  <%= element_form.hidden_field :content_type, :value => content_type if element.new_record? %>
  Element Title <%= element_form.text_field :title %>
  Element Content <%= element_form.text_field :content %>
  <%= link_to_function "Remove", "$(this).up('.element').remove()" %>
  <% end %>
</div>