<%= error_messages_for :post, :picture %>
<div>
  <%= check_box("post","has_date_from", {}, true, false) %>
  <%= f.label :date_from %>
</div>

<div id="date_from">
  <%= f.date_select :date_from %>
  
  <div>
    <%= check_box("post","has_time_from", {}, true, false) %>
    <%= f.label :time_from %>
  </div>

  <div id="time_from">
    <%= f.time_select :time_from %>
  </div>
  <%= javascript_tag "Element.hide('time_from')" unless @post.has_time_from %>
  <%= observe_field("post_has_time_from", :url => {:action => :toggle, :element => "time_from"}, :with => "value") %>
  <br/>
  <div>
    <%= check_box("post","has_date_to", {}, true, false) %>
    <%= f.label :date_to %>
  </div>

  
  <div id="date_to">
    <%= f.date_select :date_to %>
    
    <div>
      <%= check_box("post","has_time_to", {}, true, false) %>
      <%= f.label :time_to %>
    </div>
    <div id="time_to">
      <%= f.time_select :time_to %>
    </div>
    <%= observe_field("post_has_time_to", :url => {:action => :toggle, :element => "time_to"}, :with => "value") %>
    <%= javascript_tag "Element.hide('time_to')" unless @post.has_time_to %>  
  </div>
  <%= javascript_tag "Element.hide('date_to')" unless @post.has_date_to %>
  <%= observe_field("post_has_date_to", :url => {:action => :toggle, :element => "date_to"}, :with => "value") %>
</div>
<%= javascript_tag "Element.hide('date_from')" unless @post.has_date_from %>
<%= observe_field("post_has_date_from", :url => {:action => :toggle, :element => "date_from"}, :with => "value") %>


  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :short_text %> (max. 200 Characters)<br />
    <%= f.text_area :short_text, :cols => 60, :rows => 4 %>
    <div id="charcount">Characters:</div>
    <%= javascript_tag "$('charcount').innerHTML = 'Characters: ' + $('post_short_text').value.length" %>
    <%= observe_field("post_short_text",:frequency => 0.5, :function => "$('charcount').innerHTML = 'Characters: ' +value.length") %>
  </p>
  <p>
    <%= f.label :long_text %><br />
    <%= f.text_area :long_text, :cols => 60, :rows => 10 %>
  </p>
  <p>
    <% fields_for :picture do |picture_form| %>
        Picture: <%= picture_form.file_field :data %><br />
        Author: <%= picture_form.text_field :author, :maxlength => 150, :size => 30 %>
        <%= picture_form.hidden_field :gallery_id, :value => "1" %>
    <% end %>
  </p>
  <p>
    <%= f.check_box :published %><%= f.label :published %>
    <%= f.check_box :to_twitter %><%= f.label :post_to_twitter %>
  </p>
  <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, :size => 50 %>
  </p>
  <h2>Content of this post</h2>
  <div id="elements">
    <%= render :partial => 'layouts/element', :collection => @post.elements, :locals => {:content_type => ''} %>
  </div>
  <p>
    <%= add_element_link "Add text", "text" %> |
    <%= add_element_link "Add a picture", "picture" %> |
    <%= add_element_link "Add a video", "video" %> |
    <%= add_element_link "Add a file", "file" %> |
    <%= add_element_link "Add a gallery", "gallery" %>
  </p>
