<h1>Listing posts</h1>

<table>
  <tr>
    <th>Picture</th>
    <th>Date from</th>
    <th>Time from</th>
    <th>Date to</th>
    <th>Time to</th>
    <th>Title</th>
    <th>Short text</th>
    <th>Published</th>
    <th>Post to twitter</th>
    <th>Post to facebook</th>
    <th>Post to myspace</th>
    <th>Tags</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= image_tag Picture.find(post.picture_id).data.url(:thumb) %></td>
    <td><%=h post.date_from %></td>
    <td><%=h post.time_from unless post.time_from.nil? %></td>
    <td><%=h post.date_to %></td>
    <td><%=h post.time_to unless post.time_to.nil? %></td>
    <td><%=h post.title %></td>
    <td><%=h post.short_text %></td>
    <td><%=h post.published %></td>
    <td><%=h post.post_to_twitter %></td>
    <td><%=h post.post_to_facebook %></td>
    <td><%=h post.post_to_myspace %></td>
    <td>
      <% post.tag_list.each do |t| %>
        <%=h t + " "%>
      <% end%>
    </td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_post_path %>