<div class="news_box">
  <%= image_tag Picture.find(@post.picture_id).data.url(:thumb) %>
  <div class="news_box_text yellow">
    <p class="news_box_text_date">
        <%=h @post.date_from.strftime("%d.%m.%Y") unless @post.date_from.nil? %>
        <%=h @post.time_from.strftime("%H.%M Uhr") unless @post.time_from.nil? %>
        <%= '-' unless @post.date_to.nil? %> 
        <%=h @post.date_to.strftime("%d.%m.%Y") unless @post.date_to.nil? %>
        <%=h @post.time_to.strftime("%H.%M Uhr") unless @post.time_to.nil? %>
    </p>
    <h1><%=h @post.title.upcase %></h1>
    <p><%=h @post.short_text %></p>
    <p><br/>
      <b>Tags:</b><br/>
      <%= @post.tag_list %>
    </p>
    <p>
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
    </p>
  </div>
</div>
