<% if signed_in? %>
  <div class="admin_panel">
    <%= link_to 'Edit', edit_post_path(@post), :class => 'admin_control' %>
    <%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete, :class => 'admin_control' %>
  </div>
<% end %>

<div class="c">
  <%= image_tag Picture.find(@post.picture_id).data.url(:medium) %>
</div>
<div class="c">
  <div class="c_element fixed_height yellow">
    <div id="tweetmemebutton" style="float:right; margin-left:10px;">
      <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
    </div>
    <p class="date">
        <%=h @post.date_from.strftime("%d.%m.%Y") unless @post.date_from.nil? %>
        <%=h @post.time_from.strftime("%H.%M Uhr") unless @post.time_from.nil? %>
        <%= '-' unless @post.date_to.nil? %> 
        <%=h @post.date_to.strftime("%d.%m.%Y") unless @post.date_to.nil? %>
        <%=h @post.time_to.strftime("%H.%M Uhr") unless @post.time_to.nil? %>
    </p>
    <h1><%=h @post.title.upcase %></h1>
    <p><%=h @post.short_text %></p>
    <p><%=h @post.long_text %></p>
  </div>  
  <div class="c_element yellow">
        <p><br/>
      <b>Tags:</b><br/>
      <%= @post.tag_list %>
    </p>
  </div> 
  <% @post.elements.each_index do |i| %>
    <% if i >= 3 and i.odd? %>
      <div class="c_element yellow">
        <%= render_element(@post.elements[i]) %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="c">
  <div class="c_element yellow">
    <p><%= link_to 'Back', posts_path %></p>
  </div>
  <div class="c_element yellow">
        <iframe src="http://www.facebook.com/plugins/like.php?href=<%= request.url %>&layout=standard&show-faces=true&width=320&action=like&colorscheme=light" scrolling="no" frameborder="0"
allowTransparency="true" style="border:none; overflow:hidden;
width:320px; height:30px"></iframe>
  </div>
  <% @post.elements.each_index do |i| %>
    <% if i < 3 %>
      <div class="c_element yellow">
        <%= render_element(@post.elements[i]) %>
      </div>
    <% end %>
  <% end %>
  <% @post.elements.each_index do |i| %>
    <% if i >= 3 and i.even? %>
      <div class="c_element yellow">
        <%= render_element(@post.elements[i]) %>
      </div>
    <% end %>
  <% end %>
</div>
