<div class="news_box">
  <%= image_tag Picture.find(@post.picture_id).data.url(:thumb) %>
  <% if signed_in? %>
    <div class="admin_panel">
      <%= link_to 'Edit', edit_post_path(@post), :class => 'admin_control' %>
      <%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete, :class => 'admin_control' %>
    </div>
  <% end %>
  <div class="news_box_text yellow">
    <p class="news_box_text_date">
        <%=h @post.date_from.strftime("%d.%m.%Y") unless @post.date_from.nil? %>
        <%=h @post.time_from.strftime("%H.%M Uhr") unless @post.time_from.nil? %>
        <%= '-' unless @post.date_to.nil? %> 
        <%=h @post.date_to.strftime("%d.%m.%Y") unless @post.date_to.nil? %>
        <%=h @post.time_to.strftime("%H.%M Uhr") unless @post.time_to.nil? %>
    </p>
    <h1><%=h @post.title.upcase %></h1>
    <p><%=h @post.short_text %></p>
    <p><br/>
      <b>Tags:</b><br/>
      <%= @post.tag_list %>
    </p>
  </div>
</div>
<% @post.elements.each do |e| %>
  <div class="content_box yellow">
    <%= render_element(e) %>
  </div>
<% end%>
<div class="content_box yellow">
  <p><%= link_to 'Back', posts_path %></p>
</div>

  
