<p>
  <b>Date from:</b>
  <%=h @post.date_from %>
</p>

<p>
  <b>Time from:</b>
  <%=h @post.time_from unless @post.time_from.nil? %>
</p>

<p>
  <b>Date to:</b>
  <%=h @post.date_to %>
</p>

<p>
  <b>Time to:</b>
  <%=h @post.time_to unless @post.time_to.nil? %>
</p>

<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Short text:</b>
  <%=h @post.short_text %>
</p>

<p>
  <b>Long text:</b>
  <%=h @post.long_text %>
</p>

<p>
  <b>Published:</b>
  <%=h @post.published %>
</p>

<p>
  <b>Post to twitter:</b>
  <%=h @post.to_twitter_count %>
</p>

<p>
  <b>Post to facebook:</b>
  <%=h @post.to_facebook_count %>
</p>

<p>
  <b>Post to myspace:</b>
  <%=h @post.to_myspace_count %>
</p>
<p>
  <b>Tags:</b>
  <% @post.tag_list.each do |t| %>
    <%=h t + " "%>
  <% end%>
</p>
<p>
<b>Elements:</b>
  <% @post.elements.each do |e| %>
    <%= render_element(e) %>
  <% end%>
</p>
<p>
  <div id="blubb"></div>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</p>
