<p>
  <b>Title:</b>
  <%=h @gallery.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @gallery.description %>
</p>
<p>
  <b>Pcitures in the Gallery:</b>
  <% @gallery.pictures.each do |pic| %>
  <%= image_tag pic.pic_file.url(:thumb) %>
  <% end%>
  
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>