<div class="c_element_show color2">
<h1><%=h @gallery.title %></h1>
<p>
  <%=h @gallery.description %>
</p>
<% unless @gallery.pictures.empty? %>
<div style="text-align:center;">
  <p>
    <%= link_to_prev(@gallery,current_id(@picture,@gallery)) %> 
    <%= current_id(@picture,@gallery)+1 %> / <%= @gallery_size %>
    <%= link_to_next(@gallery,current_id(@picture,@gallery)) %>
  </p>
</div>
<%= image_tag @picture.data.url(:large) %>
<p>
  <% @gallery.pictures.each_index do |i| %> 
  <%= i == current_id(@picture,@gallery) ? i+1 : link_to(i+1, gallery_content_url(@gallery,i+1)) %>
  <% end%>
</p>
<% else %>
<p><%= 'In dieser Galerie sind keine Bilder vorhanden!' %></p>
<% end %>
<p>
  <b>Tags:</b>
  <% @gallery.tag_list.each do |t| %>
    <%=h t + " "%>
  <% end%>
</p>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
</div>
