<div class="c_element_show color2">
<h1><%=h @gallery.title %></h1>
<p>
  <%=h @gallery.description %>
</p>
<p><%= current_id(@picture,@gallery) %> / <%= @gallery_size %></p>
<%= image_tag @picture.data.url(:large) %>
<p>
  <% @gallery.pictures.each_index do |i| %>
  <div style="border:1px solid black;float:left;margin:5px;">
  <%= link_to i+1, gallery_content_url(@gallery,i+1), :style => 'padding:5px 8px;display:block;'  %>
  </div>
  <% end%>
</p>

<p>
  <b>Tags:</b>
  <% @gallery.tag_list.each do |t| %>
    <%=h t + " "%>
  <% end%>
</p>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
</div>
