<p>
  <b>Title:</b>
  <%=h @gallery.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @gallery.description %>
</p>
<p>
  <b>Pictures in the Gallery:</b>
  <% @gallery.pictures.each do |p| %>
  <%= image_tag p.data.url(:thumb) %>
  <% end%>
  
</p>
<p>
  <b>Tags:</b>
  <% @gallery.tag_list.each do |t| %>
    <%=h t + " "%>
  <% end%>
</p>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>