<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= (html_title = yield :html_title) ? html_title + " @ Essential Existence Gallery" : 'Essential Existence Gallery http://www.eexistence.de/' %></title>
      <%= stylesheet_link_tag 'main' %>
      <%= javascript_include_tag :defaults %>
      <%= include_stylesheet %>
      <%= include_page_css %>
      <link rel="alternate" type="application/rss+xml" title="Essential Existence Gallery RSS Feed" href="<%= url_for(:controller => 'feed', :action => 'rss') %>" />
      <link rel="alternate" type="application/atom+xml" title="Essential Existence Gallery Atom Feed" href="<%= url_for(:controller => 'feed', :action => 'atom') %>" />
  </head>
  <body>
    <% if signed_in? %>
      <div id="user_panel">
        <p>You are logged in! <%= link_to "Logout", sign_out_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Reset Password", new_password_path %></p>
      </div>
    <% end %>
    <div id="page">
      <div id="sub_head" class="color1">
        <ul>
          <li><%= link_to "Impressum", imprint_path %></li>
          <li><%= link_to "Kontakt", contact_path %></li>
          <li><%= link_to "Anfahrt", directions_path %></li>
          <!--<li><%= link_to "Archiv", archive_path %></li>-->
          <li><%= link_to "RSS", url_for(:controller => 'feed', :action => 'rss') %></li>
          <li><%= link_to "Atom", url_for(:controller => 'feed', :action => 'atom') %></li>
          <li><%= link_to "Facebook", "http://www.facebook.com/pages/essential-existence-gallery/115456341807802" %></li>
          <li><%= link_to "MySpace", "http://www.myspace.com/2egallery" %></li>
          <li><%= link_to "Twitter", "http://twitter.com/2egallery" %></li>
          <li><%= link_to "Vimeo", "http://vimeo.com/eexistence" %></li>
        </ul>
      </div>
      <div id="head" class="color1">
        <%= link_to image_tag("logo.png"), root_url %>
      </div>
      <div id="nav">
        <div class="nav">
        <ul>
          <li class="color1"><%= link_to "START", posts_path %></li>
          <li class="color1"><%= link_to "PROGRAMM", schedule_path %></li>
          <li class="color1"><%= link_to "PROJEKTE", projects_path %></li>
          <li class="color1"><%= link_to "NETZWERK", members_path %></li>
          <li class="color1"><%= link_to "PROFIL", profile_path %></li>
          <% if signed_in? %>
            <li class="admin_control"><%= link_to "Pictures", pictures_path %></li>
            <li class="admin_control"><%= link_to "Galleries", galleries_path %></li>
            <li class="admin_control"><%= link_to "Sidebar", sidepics_path %></li>
            <li class="admin_control"><%= link_to "Contents", elements_path %></li>
          <% end %>
        </ul>
        </div>
        <% if controller_name == 'projects' %>
           <div class="subnav">
            <ul>
              <% Project.find(:all).each do |p| %>
                <li class="color2"><%= link_to p.title.upcase, project_path(p) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if controller_name == 'members' %>
           <div class="subnav">
            <ul>
              <li class="color2"><a href="#artists">KÜNSTLER</a></li>
              <li class="color2"><a href="#members">MITARBEITER</a></li>
              <li class="color2"><a href="#associates">FREIE MITARBEITER</a></li>
            </ul>
          </div>
        <% end %>
      </div>
      <div id="content">
        <div class="c">
          <% flash.each do |key, value| -%>
            <div id="flash_<%= key %>"><div id="flash"><p><%=h value %></p></div></div>
          <% end -%>   
          <%= yield %>
        </div>
      </div>
      <div id="foot">
        <div class="r">
        <div class="c sitemap">
          <h3>AKTUELL</h3>
          <p><%= link_to "News", posts_path %></p>
          <p><%= link_to "Programm", schedule_path %></p>
          <p><%= link_to "Projekte", projects_path %></p>
        </div>
        <div class="c sitemap">
          <h3>NETZWERK</h3>
          <p><%= link_to "Künstler", members_path(:anchor => 'artists') %></p>
          <p><%= link_to "Mitarbeiter", members_path(:anchor => 'members') %></p>
          <p><%= link_to "freie Mitarbeiter", members_path(:anchor => 'associates') %></p>
        </div>
        <div class="c sitemap">
          <h3>ÜBER UNS</h3>
          <p><%= link_to "Profil", profile_path %></p>
          <p>Spenden</p>
          <!-- <p><%= link_to "Archiv", archive_path %></p>-->
        </div>
        <div class="c sitemap">
          <h3>KONTAKT</h3>
          <p><%= link_to "Anfrage", contact_path %></p>
          <p><%= link_to "Anfahrt", directions_path %></p>
          <p><%= link_to "Impressum", imprint_path %></p>
        </div>
        <div class="c sitemap">
          <h3>LINKS</h3>
          <p><%= link_to "Facebook", "http://www.facebook.com/pages/essential-existence-gallery/115456341807802" %></p>
          <p><%= link_to "MySpace", "http://www.myspace.com/2egallery" %></p>
          <p><%= link_to "Twitter", "http://twitter.com/2egallery" %></p>
          <p><%= link_to "Vimeo", "http://vimeo.com/eexistence" %></p>
        </div>
        </div>
        <div class="r">
          <div class="c" style="margin-top:30px;padding:0px 10px 0px 60px;">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
              <img alt="Creative Commons License" style="border-width:0" src="http://creativecommons.org/images/public/somerights20.png" />
            </a>
          </div>
          <div class="c" style="margin-top:30px;">
            Alle Inhalte auf <span xmlns:dc="http://purl.org/dc/elements/1.1/" property="dc:title">http://www.eexistence.de</span> (solange nicht explizit anders gekennzeichnet) sind unter einer<br />
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported License</a> lizensiert.<br/>
            Um die Inhalte in anderer Form nutzen zu können, bitte kontaktiere uns über das <%= link_to "Kontaktformular", contact_path %>.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>