<% content_for :background, @bg.data.url if @bg = Background.find(:first, :conditions => "parent_id = '0' AND parent_type = 'members'") %>

<% if signed_in? %>
  <div class="admin">
    <%= link_to 'New member', new_member_path %>
  </div>
<% end %>
<div class="r">
  <a name="artists" href="#artists" class="headline"><h1 class="c_element_head color2">KÜNSTLER</h1></a>
</div>
<% @members.each do |member| %>
  <% if member.position == 1 %>
   <div class="r">
      <% if signed_in? %>
        <div class="admin_panel">
          <%= link_to 'Edit', edit_member_path(member), :class => 'admin_control' %>
          <%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete, :class => 'admin_control' %>
        </div>
      <% end %>
        <%= link_to image_tag(Picture.find(member.picture_id).data.url(:thumb),:class => 'c'), member %>
      <div class="c_element_index color2">
        <div class="pad">
          <h1><%= link_to member.firstname + " " + member.lastname, member %></h1>
          <p><%= _ truncate(member.information, :length => 200) %> <%= link_to '&raquo;', member %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="r">
  <a name="members" href="#members"><h1 class="c_element_head color2">MITARBEITER</h1></a>
</div>
<% @members.each do |member| %>
  <% if member.position == 2 %>
   <div class="r">
      <% if signed_in? %>
        <div class="admin_panel">
          <%= link_to 'Edit', edit_member_path(member), :class => 'admin_control' %>
          <%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete, :class => 'admin_control' %>
        </div>
      <% end %>
        <%= link_to image_tag(Picture.find(member.picture_id).data.url(:thumb),:class => 'c'), member %>
      <div class="c_element_index color2">
        <div class="pad">
          <h1><%= link_to member.firstname + " " + member.lastname, member %></h1>
          <p><%= _ truncate(member.information, :length => 200) %> <%= link_to '&raquo;', member %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="r">
  <a name="associates" href="#associates"><h1 class="c_element_head color2">FREIE MITARBEITER</h1></a>
</div>
<% @members.each do |member| %>
  <% if member.position == 3 %>
   <div class="r">
      <% if signed_in? %>
        <div class="admin_panel">
          <%= link_to 'Edit', edit_member_path(member), :class => 'admin_control' %>
          <%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete, :class => 'admin_control' %>
        </div>
      <% end %>
        <%= link_to image_tag(Picture.find(member.picture_id).data.url(:thumb),:class => 'c'), member %>
      <div class="c_element_index color2">
        <div class="pad">
          <h1><%= link_to member.firstname + " " + member.lastname, member %></h1>
          <p><%= _ truncate(member.information, :length => 200) %> <%= link_to '&raquo;', member %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
